/* blog background color */
.row {
    background-color: #eae7de;
}

.bg-white {
    background-color: #d3e1de !important;
}
/* blog logo */
.brand {
    font-family: Yesteryear, sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    color: #4A4A4F;
}
/* logo color*/
.red-o {
    color: #b36b1e;
}

.logotext {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 900;
    color: #a8241b;
}

.thin {
    font-weight: 300;
    color: rgba(212, 222, 238, 0.911);
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #7f8695 !important;
}

.main-bg {
    background-color: #eae7de;
}

.card {
    border: none;
    background-color: transparent;
}

.card-title {
    color: #73550c;
    font-family: Yesteryear, sans-serif;
    font-size: 3rem;
}
/* blog post image */
.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #8096b7;
}
/* blog post box */
.author {
    color: #764f1c;
    margin: 4px;
    background-color: #e3e9ec;

}

/* individual post page */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}
/* individual post title */
.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.main-bg {
    background-color: #eae7de;
}

/* content request page */

form#content-form.mt-3 {
    display: flex;
    flex-direction: column;
}


button.btn.btn-black.rounded-0.text-uppercase.float-right {
    color: #dddddd;
    font-weight: 400;
    border: 1px solid;
    padding: 0.375rem 0.75rem;
    background-color: #378768;
    width: fit-content;
}

.messagecontent {
    color:#6f94af;
    text-align: center;
}

.submissionmessage {
    text-align: center;
    color: #378768;
}

